

.callendarPage {
    border: 1px solid rgb(71, 71, 71);
    border-radius: 15px;
    height: 650px;
    margin: 120px auto 0;
    width:400px;
}

span {
    display: inline-block;
}
button {
    display: inline-block;
}
